<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.my"/>
    </typeAliases>
    <mappers>
        <!--引入映射文件 -->
        <mapper resource="RentalMapper.xml" />
    </mappers>
</configuration>